<!-- Nav -->
<div class="w-full bg-indigo-400 border-b-8 flex justify-between p-3">
    <div>

        <ul class="flex gap-10">
            <li class="font-bold text-xl hover:text-purple-700"><a href="#">HOME</a></li>
            <li class="font-bold text-xl hover:text-purple-700"><a href="#">OUR TEAM</a></li>
            <li class="font-bold text-xl hover:text-purple-700"><a href="#">PROJECTS</a></li>
            <li class="font-bold text-xl hover:text-purple-700"><a href="#">CONTACT</a></li>
        </ul>
    </div>

    <div>

        <form>
            <input class="mr-2 rounded-sm active:border-purple-700" type="text" placeholder="Search query">
            <button class="bg-violet-700 rounded-sm py-1 px-4 hover:bg-violet-500">Go!</button>
        </form>
    </div>
</div>